



<h1 class='float-middle' *ngIf='!company' > Loading... </h1>

<div class='container' *ngIf='company' >

  <div *ngIf='!(authorized$|async); else editable;' >
    Id: {{ id }}
    <br/>
    name: {{company.name}}
    <br/>
    createdBy: {{company.createdBy}}
    <br/>
    createdTs: {{company.createdTs | date:'M/d/yy, h:mm a' }}
 </div>

 <ng-template #editable>

  <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
          <h6> Companies </h6>
        <form [formGroup]='companyEditForm' (ngSubmit)="onSubmit()" >

          <div class="form-group">
              <label for="name">Id</label>
              <input
                type="text"
                readonly
                class='form-control'
                value='{{ id }}'>
          </div>

          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              name="name"
              id="name"
              class='form-control'
              formControlName='name' >

            <span
              *ngIf="!companyEditForm.get('name').valid && companyEditForm.get('name').touched"
              class="help-block">
              Company name requires minimum of 4 characters!
            </span>
          </div>

          <button class="btn btn-primary" type="submit" [disabled]="!companyEditForm.dirty || !companyEditForm.valid">Submit</button>
        </form>



      </div>
  </div>

 </ng-template>


</div>
