<div class="row" >

    <div class="col-md-12" style='padding-top:15px;' >

      <div class="row">
        <strong class='col-md-8' style='margin-bottom:10px;'>Companies</strong>

          <div class='col-md-4' *ngIf='authorized$|async'>
            <button class='btn btn-outline-danger btn-sm float-right ml-1'
              [disabled]='selectedId < 1'
              (click)='delete()'
            >delete</button>
            <button class='btn btn-outline-secondary btn-sm float-right ml-1'
              (click)='edit()'
              [disabled]='selectedId < 1'
            >edit</button>
            <button
              class='btn btn-outline-primary btn-sm float-right'
              (click)='add()'
              >new
            </button>
          </div>
      </div>

      <div class="row g-row" ></div>
      <div class="row g-row"
        *ngFor="let ref of ( companies$ | async ).companies"
        (dblclick)="edit(ref.id)"
        [ngClass]="{'rselected':isSelected(ref.id)}"
        (click)="select(ref.id)" >

          <div class='col-md-1'>{{ ref.id }}</div>
          <div class='col-md-8'>{{ ref.name }}</div>
          <div class='col-md-1'>{{ ref.createdBy }}</div>
          <div class='col-md-2 text-right'>{{ ref.createdTs | date:'M/d/yy, h:mm a' }}</div>

      </div>

    </div>
</div>
