<div class='row' [formGroup]='portfolioEditForm'>
  <div class="col-xs-12 col-sm-10 col-md-12 col-sm-offset-1 col-md-offset-2">
    <div class="form-group">
      <label for="name">Gold Team</label>
      <input type="text" name="gold" id="gold" class='form-control' formControlName='gold'>
    </div>
    <div class="form-group">
      <label for="name">Amp Lead</label>
      <input type="text" name="amp" id="amp" class='form-control' formControlName='amp'>
    </div>
  </div>
</div>
