<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-12 col-sm-offset-1 col-md-offset-2">
  <form [formGroup]='trackerEditForm' (ngSubmit)="onSubmit()" >
  <div class="col-xs-12 col-sm-10 col-md-12 col-sm-offset-1 col-md-offset-2">
    <h6>  edit </h6>
      <div class="form-group">
        <label for="name">Id</label>
        <input type="text" readonly class='form-control' value='5'>
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" class='form-control' formControlName='name'>
      </div>
      <div class="form-group">
        <label for="poc">POC</label>
        <input type="text" name="poc" id="poc" class='form-control'  formControlName='poc'>
      </div>
      <div class="form-group">
        <label for="start">Start Date</label>
        <input type="text" name="start" id="start" class='form-control' formControlName='start'>
      </div>
  </div>

      <ul class="nav nav-tabs w-100">
        <!-- <li class="nav-item">
          <a class="nav-link"
            [ngClass]= "{active: activeTab=='quality'}"
            (click)='tabChange("quality")' >
            Quality
          </a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link"
            [ngClass]= "{active: activeTab=='sprint'}"
            (click)='tabChange("sprint")'>
            Sprint
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link"
            [ngClass]="{active: activeTab=='capture'}"
            (click)='tabChange("capture")' >
            Capture
          </a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link"
            [ngClass]= "{active: activeTab=='portfolio'}"
            (click)='tabChange("portfolio")' >
            Portfolio
          </a>
        </li>
      </ul>



      <div *ngIf="activeTab=='sprint'" >
        <app-sprint></app-sprint>
      </div>

      <div *ngIf="activeTab=='portfolio'" >
          <app-portfolio></app-portfolio>
      </div>

      <div *ngIf="activeTab=='portfolio'" >

      </div>

      <div *ngIf="activeTab=='capture'" >

      </div>

      <button class="btn btn-primary" type="submit" >Submit</button>

    </form>
    </div>
  </div>
