<!-- <div class="checkbox ml-2" *ngFor='let id of cols' >
  <label><input type="checkbox" value="">Columns {{id}}</label>
</div>

<div class="checkbox ml-2" *ngFor='let spd of Spreadsheet' >

    <hr/>
    <label><input type="checkbox" value="">{{spd}}</label>
    <div class="checkbox ml-4" *ngFor='let column of GroupedColumn[spd]' >
        <label><input type="checkbox" value="">{{column.column_name}}</label>
    </div>

</div>
-->

<form [formGroup]="selColForm" >

    <div formArrayName="columns" >

      <div
        class="form-group"
        *ngFor="let colControl of selColForm.get('columns').controls; let i = index">
        <label  [ngStyle]="{ 'margin-left': col_def[i].col_name==col_def[i].spd?'5px':'25px' }">
          <input type="checkbox" value="" [formControlName]="i" (change)='onChange(i)'>      {{col_def[i].col_name}}
        </label>
      </div>

    </div>

</form>
